body{
    margin: 0;
    background-color: rgb(81, 158, 221);
    
}
*{
    box-sizing: border-box;
}
.main{
    border: green solid 5px ;
    width: 500px;
    height: 70vh;
    margin: 0 auto;
    background-color: white;
    border-radius: 70px;
    margin-top: 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 5px 10px 18px green ;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;  
}
.img{
    width: 200px;
    height: 200px;
      margin: 0 auto;
    margin-top: 20px;
    
}
h1{
font-family: sans-serif;
}
.sentenc{
    font-size: 25px;
    font-family:sans-serif ;
   color: rgb(173, 173, 173);
}
.sentence2{
    font-size: 30px;
}
input{
    margin-top: 100px;
    padding: 20px 150px;
  color: white;
  background-color: black;
 border-radius: 35px;
 font-size: 20px;

}